@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<PhoneShop.Data.NhaCungCap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.Admin.cshtml";

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Công ty
            </th>
            <th>
                Logo
            </th>
            <th>
                Người Liên Lạc
            </th>
            <th>
               Email
            </th>
            <th>
                Điện Thoại
            </th>
           
            <th>
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCongTy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiLienLac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNcc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNcc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNcc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="order__pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new List<string> { "pagination" },
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link" }
    })
</div>
