@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<PhoneShop.Data.HoaDon>
@{
    ViewData["Title"] = "Quản Lý Hóa Đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.Admin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Quản Lý Hóa Đơn</h1>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().MaHd)</th>
            <th>@Html.DisplayNameFor(model => model.First().HoTen)</th>
            <th>@Html.DisplayNameFor(model => model.First().NgayDat)</th>
            <th>@Html.DisplayNameFor(model => model.First().DienThoai)</th>
           
            <th>@Html.DisplayNameFor(model => model.First().CachThanhToan)</th>
            <th>@Html.DisplayNameFor(model => model.First().MaTrangThai)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaHd)</td>
            <td>@Html.DisplayFor(modelItem => item.MaKhNavigation.HoTen)</td>
            <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
            <td>@Html.DisplayFor(modelItem => item.MaKhNavigation.DienThoai)</td>
          
            <td>@Html.DisplayFor(modelItem => item.CachThanhToan)</td>
            <td>@Html.DisplayFor(modelItem => item.MaTrangThaiNavigation.MaTrangThai)</td>
            <td>
                <a asp-action="Details" asp-area="Admin" asp-controller="HoaDon" asp-route-id="@item.MaHd">Chi tiết</a>
            </td>
           
        </tr>
    }
    </tbody>
</table>

<div class="order__pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new List<string> { "pagination" },
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link" }
    })
</div>

