@model X.PagedList.IPagedList<PhoneShop.Data.Loai>
@using PhoneShop.Data
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.Admin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h3>Danh mục sản phẩm</h3>

<p>
    <a asp-action="ThemDanhMucSanPham">Create New</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TenLoaiAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Hinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string cls = "table-success";
        }

        @foreach (var item in Model)
        {
            i = i + 1;
            cls = i % 2 == 0 ? "table-primary" : "table-success";
            <tr class="@cls">
                <td>@Html.DisplayFor(modelItem => item.TenLoai)</td>
                <td>@Html.DisplayFor(modelItem => item.TenLoaiAlias)</td>
                <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                <td>@Html.DisplayFor(modelItem => item.Hinh)</td>
                <td>
                    <a asp-action="SuaDanhMucSanPham" asp-route-MaLoai="@item.MaLoai">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaLoai">Details</a> |
                    <a asp-action="XoaDanhMucSanPham" asp-route-Maloai="@item.MaLoai">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham", new { page = page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new List<string> { "pagination" },
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link" }
    })
</div>

