@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<PhoneShop.Data.KhachHang>


@{
    ViewData["Title"] = "Quản Lý Khách Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.Admin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Danh Sách Khách Hàng</h2>

<!-- Link to the create view -->
<a asp-asp-controller="KhachHang" asp-action="ThemKhachHang" asp-area="admin" class="btn btn-primary">Thêm Khách Hàng</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Họ Tên</th>
            <th>Ngày Sinh</th>
            <th>Giới Tính</th>
            <th>Điện Thoại</th>
            <th>Email</th>
            <th>Hiệu Lực</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
          @{
            int index = 1; 
        }
        @foreach (var khachHang in Model)
        {
            <tr>
                <td>@khachHang.HoTen</td>
                <td>@khachHang.NgaySinh</td>
                <td>@(khachHang.GioiTinh ? "Nam" : "Nữ")</td>
                <td>@khachHang.DienThoai</td>
                <td>@khachHang.Email</td>
                <td>@(khachHang.HieuLuc ? "Đang hoạt động" : "Ngừng hoạt động")</td>
                <td>
                    <!-- Link to the edit view, passing the customer ID -->
                    <a  asp-action="SuaKhachHang" asp-Controller="KhachHang" asp-route-id="@khachHang.MaKh" class="btn btn-warning">Sửa</a>

                    <!-- Link to the delete view, passing the customer ID -->
                    <a  asp-action="XoaKhachHang" asp-Controller="KhachHang" asp-route-id="@khachHang.MaKh" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>

<div class="customer__pagination">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachKhachHang", new { page = page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new List<string> { "pagination" },
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link" }
    })
</div>