@model PhoneShop.ViewModels.RegisterVM

<div class="modal modalCentered fade form-sign-in modal-part-content" id="register">
    <div class="modal-dialog modal-dialog-centered custom-modal">
        <div class="modal-content">
            <div class="header">
                <div class="demo-title">Register</div>
                <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
            </div>
            <div class="tf-login-form">
                <form class="" asp-controller="Registion" asp-action="Index" enctype="multipart/form-data">
                    <div class="upload" style="position: relative; width: 100px; height: 100px;">
                        <img id="profileImage" src="~/Hinh/icons/noprofil.jpg" alt="" style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;">
                        <div class="round">
                            <input type="file" name="Hinh" id="Hinh" onchange="previewImage(event)">
                            <i class="fa fa-camera" style="color: #fff;"></i>
                        </div>
                    </div>

                    <!-- Form Fields Split into Two Columns -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tf-field style-1">
                                <label asp-for="@Model.MaKh" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.MaKh" class="form-control">
                                <span asp-validation-for="@Model.MaKh" class="text-danger"></span>
                            </div>
                            <div class="tf-field style-1">
                                <label asp-for="@Model.MatKhau" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.MatKhau" class="form-control">
                                <span asp-validation-for="@Model.MatKhau" class="text-danger"></span>
                            </div>
                            <div class="tf-field style-1">
                                <label asp-for="@Model.HoTen" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.HoTen" class="form-control">
                                <span asp-validation-for="@Model.HoTen" class="text-danger"></span>
                            </div>
                            <div class="tf-field style-1 mt-3">
                                <div class="form-check">
                                    <input asp-for="@Model.GioiTinh" class="form-check-input" type="checkbox" id="GioiTinh">
                                    <label class="form-check-label" for="GioiTinh">Nam?</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="tf-field style-1">
                                <label asp-for="@Model.NgaySinh" class="form-label my-3"></label>
                                <input asp-for="@Model.NgaySinh" class="form-control">
                                <span asp-validation-for="@Model.NgaySinh" class="text-danger"></span>
                            </div>
                            <div class="tf-field style-1">
                                <label asp-for="@Model.DiaChi" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.DiaChi" class="form-control">
                                <span asp-validation-for="@Model.DiaChi" class="text-danger"></span>
                            </div>
                            <div class="tf-field style-1">
                                <label asp-for="@Model.DienThoai" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.DienThoai" class="form-control">
                                <span asp-validation-for="@Model.DienThoai" class="text-danger"></span>
                            </div>
                            <div class="tf-field style-1">
                                <label asp-for="@Model.Email" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.Email" class="form-control">
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="bottom">
                        <div class="w-100">
                            <button type="submit" class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"><span>Register</span></button>
                        </div>
                        <div class="w-100">
                            <a href="#login" data-bs-toggle="modal" class="btn-link fw-6 w-100 link">
                                Already have an account? Log in here
                                <i class="icon icon-arrow1-top-left"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Add click event to camera icon
    document.querySelector('.round').addEventListener('click', function () {
        document.getElementById('Hinh').click();
    });

    // Preview the uploaded image
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('profileImage');
            output.src = reader.result; // Update the image src with the selected file
            output.style.objectFit = 'cover'; // Adjust content to fill 100x100 while cropping
        };
        reader.readAsDataURL(event.target.files[0]); // Read the uploaded file
    }
</script>
<style>
    .custom-modal {
        max-width: 800px;
        width: 90%;
    }

</style>
